@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{font-family:'Open Sans',sans-serif;font-weight:400;font-size:17px;line-height:1.9;color:#6c757d;background:#223140 url(../img/bg.jpg) repeat}
a{text-decoration:none;color:#277abf;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
a:hover{text-decoration:none}
h1,h2,h3,h4,h5{color:#000}
h5{font-size:16px;line-height:22px;margin-bottom:5px}
.wrap{max-width:1250px;margin:0 auto;background:#fff;-webkit-box-shadow:0 0 40px 0 rgba(0,0,0,.1);box-shadow:0 0 40px 0 rgba(0,0,0,.1)}
header{position:relative;top:0;left:0;width:100%;z-index:5;font-weight:400;background:#fff!important}
header .navbar-brand{text-transform:uppercase;letter-spacing:.2em;font-weight:400;color:#fff!important}
header .navbar-collapse{position:relative}
header .navbar{padding-top:0;padding-bottom:0;background:#e2ebf3!important}
@media (min-width:1200px){
.container{max-width:1180px}
}
@media (max-width:767.98px){
header .navbar{background:#e6e6e6!important}
}
header .navbar .navbar-nav.absolute-right{position:absolute;right:0}
@media (max-width:991.98px){
header .navbar .navbar-nav.absolute-right{position:relative;right:inherit}
}
header .navbar .nav-link{padding:1.5rem 1rem;font-size:14px;outline:0!important;letter-spacing:.05em;font-weight:600;text-transform:uppercase}
.navbar-light .navbar-nav .nav-link{color:#585858}
@media (max-width:991.98px){
header .navbar .nav-link{padding:1.5rem 1rem}
}
@media (max-width:767.98px){
header .navbar .nav-link{padding:.5rem 0rem}
}
header .navbar .dropdown-menu{font-size:14px;border-radius:0;border:none;-webkit-box-shadow:0 2px 30px 0 rgba(0,0,0,.2);box-shadow:0 2px 30px 0 rgba(0,0,0,.2);min-width:13em;margin-top:-10px}
header .navbar .dropdown-menu:before{bottom:100%;left:10%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-bottom-color:#fff;border-width:10px}
@media (max-width:767.98px){
header .navbar .dropdown-menu:before{display:none}
}
header .navbar .dropdown-menu .dropdown-item:hover{background:#5088b5;color:#fff}
header .navbar .dropdown-menu .dropdown-item.active{background:#5088b5;color:#fff}
header .navbar .dropdown-menu a{padding-top:7px;padding-bottom:7px}
.absolute-toggle{position:absolute;left:15px}
.absolute-toggle .burger-lines{width:30px;display:inline-block;height:2px;background:#fff;position:relative}
.absolute-toggle .burger-lines:after,.absolute-toggle .burger-lines:before{position:absolute;height:2px;content:"";background:#fff;width:100%;left:0}
.absolute-toggle .burger-lines:before{top:-10px}
.absolute-toggle .burger-lines:after{bottom:-10px}
.site-logo a{color:#000;font-size:40px}
@media (max-width:991.98px){
.site-logo a{font-size:40px}
}
.top-bar{background:#366580;padding:15px 0}
.top-bar .search-icon a,.top-bar .social a{color:#fff;padding:5px}
.top-bar .search-icon a:hover,.top-bar .social a:hover{color:#fff}
.top-bar .social{text-align:left;float:right;margin-right:20px;font-size:1.1em}
.top-bar .search-icon{text-align:right}
@media (max-width:767.98px){
.navbar .container>div{border-bottom:none}
}
.category{display:inline-block;background:#f36e46;padding:2px 8px;line-height:1.5;font-size:12px;border-radius:4px;text-transform:uppercase;color:#fff!important;margin-right:10px;letter-spacing:.2em}
.a-block{display:block;background-size:cover;background-position:center center;padding:30px 80px;position:relative;margin-bottom:30px;height:300px}
.a-block.sm{padding:30px 30px}
@media (max-width:767.98px){
.a-block{padding:30px}
}
.a-block.height-lg{height:500px}
.a-block.height-md{height:400px}
.a-block:before{background:#000;position:absolute;content:"";z-index:1;opacity:.3;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;top:0;left:0;right:0;bottom:0}
.a-block .text{position:relative;z-index:2;max-width:100%}
.a-block .text.half-to-full{max-width:50%}
@media (max-width:767.98px){
.a-block .text.half-to-full{max-width:100%}
}
.a-block .text .post-meta{color:#fff;text-transform:uppercase;letter-spacing:.1em;font-size:13px;margin-bottom:30px}
.a-block .text .post-meta .author img{width:30px;border-radius:50%;display:inline-block}
.a-block .text h3{color:#fff;border:1px solidi red}
.a-block .text p{color:#fff}
.a-block:hover:before{opacity:.4}
.box{padding:30px;background:#fff}
.site-section{padding:2em 0}
.site-section.py-md{padding:2em 0}
.site-section.py-sm{padding:0 0}
.img-bg{background-size:cover}
@media (max-width:991.98px){
.img-md-fluid{max-width:100%}
}
.section-cover{background-size:cover;position:relative;background-position:top left}
.section-cover,.section-cover .intro{height:500px}
.section-cover p{color:#fff}
.section-cover h2{color:#fff}
.blog-entries .blog-entry{display:block;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;margin-bottom:30px;position:relative}
.blog-entries .blog-entry:focus,.blog-entries .blog-entry:hover{opacity:.7;top:-1px;-webkit-box-shadow:0 3px 50px -2px rgba(0,0,0,.2)!important;box-shadow:0 3px 50px -2px rgba(0,0,0,.2)!important}
.blog-entries .blog-entry .blog-content-body{padding:20px;border:1px solid #efefef;border-top:none}
.blog-entries .blog-entry img{max-width:100%}
.blog-entries .blog-entry h2{font-size:18px;line-height:1.5}
.blog-entries .blog-entry p{font-size:13px;color:gray}
.blog-entries .post-meta{margin-bottom:5px;font-size:14px;color:#b3b3b3}
.blog-entries .post-meta a{color:#b3b3b3;text-decoration:underline}
.blog-entries .post-meta a:hover{color:#277abf}
.blog-entries .post-meta .author img{width:30px;border-radius:50%;display:inline-block}
.btn,.form-control{outline:0;-webkit-box-shadow:none!important;box-shadow:none!important;border-radius:0}
.btn:active,.btn:focus,.form-control:active,.form-control:focus{outline:0}
.form-control{-webkit-box-shadow:none!important;box-shadow:none!important}
textarea.form-control{height:inherit}
.btn{-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;padding:8px 20px}
.btn:hover{-webkit-box-shadow:0 3px 10px -2px rgba(0,0,0,.2)!important;box-shadow:0 3px 10px -2px rgba(0,0,0,.2)!important}
.flaticon-custom{font-size:50px}
.flaticon-custom:after,.flaticon-custom:before{margin-left:0}
.no-nav .owl-nav{display:none}
.owl-carousel .owl-item{opacity:.4}
.owl-carousel .owl-item.active{opacity:1}
.owl-carousel .owl-nav{position:absolute;top:50%;width:100%}
.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);margin-top:-10px}
.owl-carousel .owl-nav .owl-next:active,.owl-carousel .owl-nav .owl-next:focus,.owl-carousel .owl-nav .owl-next:hover,.owl-carousel .owl-nav .owl-prev:active,.owl-carousel .owl-nav .owl-prev:focus,.owl-carousel .owl-nav .owl-prev:hover{outline:0}
.owl-carousel .owl-nav .owl-next span:before,.owl-carousel .owl-nav .owl-prev span:before{font-size:40px}
.owl-carousel .owl-nav .owl-prev{left:30px!important}
.owl-carousel .owl-nav .owl-next{right:30px!important}
.owl-carousel .owl-dots{text-align:center}
.owl-carousel .owl-dots .owl-dot{width:10px;height:10px;margin:5px;border-radius:50%;background:#e6e6e6}
.owl-carousel .owl-dots .owl-dot.active{background:#6610f2}
.owl-carousel.home-slider{z-index:1;position:relative}
.owl-carousel.home-slider .owl-nav{opacity:0;visibility:hidden;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.owl-carousel.home-slider .owl-nav button{color:#fff}
.owl-carousel.home-slider:focus .owl-nav,.owl-carousel.home-slider:hover .owl-nav{opacity:1;visibility:visible}
.owl-carousel.home-slider .slider-item{background-size:cover;background-repeat:no-repeat;background-position:center center;height:calc(100vh - 117px);min-height:700px;position:relative}
.owl-carousel.home-slider .slider-item:before{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.2);content:""}
.owl-carousel.home-slider .slider-item .slider-text{color:#fff;height:calc(100vh - 117px);min-height:700px}
.owl-carousel.home-slider .slider-item .slider-text .child-name{font-size:40px;color:#fff}
.owl-carousel.home-slider .slider-item .slider-text h1{font-size:40px;color:#fff;line-height:1.2;font-weight:800!important;text-transform:uppercase}
@media (max-width:991.98px){
.owl-carousel.home-slider .slider-item .slider-text h1{font-size:40px}
}
.owl-carousel.home-slider .slider-item .slider-text p{font-size:20px;line-height:1.5;font-weight:300;color:#fff}
.owl-carousel.home-slider .slider-item.dark .child-name{color:#000}
.owl-carousel.home-slider .slider-item.dark h1{color:#000}
.owl-carousel.home-slider .slider-item.dark p{color:#000}
.owl-carousel.home-slider.inner-page .slider-item{height:calc(50vh - 117px);min-height:350px}
.owl-carousel.home-slider.inner-page .slider-item .slider-text{color:#fff;height:calc(50vh - 117px);min-height:350px}
.owl-carousel.home-slider .owl-dots{position:absolute;bottom:100px;width:100%}
.owl-carousel.home-slider .owl-dots .owl-dot{width:10px;height:10px;margin:5px;border-radius:50%;border:2px solid rgba(255,255,255,.5);outline:0!important;position:relative;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.owl-carousel.home-slider .owl-dots .owl-dot.active{border:2px solid #fff}
.owl-carousel.home-slider .owl-dots .owl-dot.active span{background:#fff}
.owl-carousel.major-caousel .owl-stage-outer{padding-top:30px;padding-bottom:30px}
.owl-carousel.major-caousel .owl-nav .owl-next,.owl-carousel.major-caousel .owl-nav .owl-prev{-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;color:#495057}
.owl-carousel.major-caousel .owl-nav .owl-next:focus,.owl-carousel.major-caousel .owl-nav .owl-next:hover,.owl-carousel.major-caousel .owl-nav .owl-prev:focus,.owl-carousel.major-caousel .owl-nav .owl-prev:hover{color:#6c757d;outline:0}
.owl-carousel.major-caousel .owl-nav .owl-next.disabled,.owl-carousel.major-caousel .owl-nav .owl-prev.disabled{color:#dee2e6}
.owl-carousel.major-caousel .owl-nav .owl-prev{left:-60px!important}
.owl-carousel.major-caousel .owl-nav .owl-next{right:-60px!important}
.owl-carousel.major-caousel .owl-dots{bottom:-30px!important;position:relative}
.owl-custom-nav{float:right;position:relative;z-index:10}
.owl-custom-nav .owl-custom-next,.owl-custom-nav .owl-custom-prev{padding:10px;font-size:30px;background:#ccc;line-height:0;width:60px;text-align:center;display:inline-block}
.box{overflow:hidden;border-radius:4px;display:block}
.box img{border-top-left-radius:4px;border-top-right-radius:4px;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.box .box-body{padding:20px;border:1px solid #e9ecef;border-top:none;border-bottom-left-radius:4px;border-bottom-right-radius:4px;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.box h2{font-size:18px;font-family:"Josefin Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.box.hover:focus img,.box.hover:hover img{margin-top:-20px}
.box.hover:focus .box-body,.box.hover:hover .box-body{background:#6610f2;color:#fff;padding:30px 20px;border-color:#6610f2}
.box.hover:focus h2,.box.hover:hover h2{color:#fff}
.sidebar{padding-left:1em}
@media (max-width:991.98px){
.sidebar{padding-left:15px}
}
.sidebar-box{margin-bottom:3em;font-size:15px;width:100%;float:left;background:#fff}
.sidebar-box :last-child{margin-bottom:0}
.sidebar-box .heading{font-size:18px;margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid #e6e6e6}
.tags{padding:0;margin:0;font-weight:400;display:inline-block}
.tags li{padding:0;margin:0 4px 4px 0;float:left;display:inline-block}
.tags li a{float:left;display:block;border-radius:4px;padding:2px 6px;color:gray;background:#f2f2f2}
.tags li a:hover{color:#fff;background:#4c759f}
.categories,.sidelink{padding:0;margin:0;font-weight:400}
.categories li,.sidelink li{padding:0;margin:0;position:relative;margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #dee2e6;list-style:none}
.categories li:last-child,.sidelink li:last-child{margin-bottom:0;border-bottom:none;padding-bottom:0}
.categories li a,.sidelink li a{display:block;font-size:16px}
.categories li a span,.sidelink li a span{position:absolute;right:0;top:0;color:#ccc;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.categories li a:hover span,.sidelink li a:hover span{color:#000}
.categories li.active a,.sidelink li.active a{color:#000;font-style:italic}
.heading{color:#000}
.heading.border-bottom{position:relative;padding-bottom:30px}
.heading.border-bottom:before{bottom:0;position:absolute;content:"";width:50px;height:2px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:#6610f2}
.text-black{color:#000!important}
.comment-form-wrap{clear:both}
.comment-list{padding:0;margin:0}
.comment-list li{padding:0;margin:0 0 30px 0;float:left;width:100%;clear:both;list-style:none}
.comment-list li .comment-body h3{font-size:18px;line-height:18px;margin-bottom:0}
.comment-list li .comment-body .meta{text-transform:uppercase;font-size:13px;letter-spacing:.1em;color:#ccc}
.search-top .search-top-form{position:relative;float:right}
.search-top .icon{position:absolute;right:10px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:15px;color:#fff}
.search-top input{color:#fff;background:#527da0;width:inherit;min-width:300px;border:none;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;-webkit-box-shadow:none;box-shadow:none;padding:4px 30px 4px 15px;font-size:16px}
.search-top input::-webkit-input-placeholder{color:#fff}
.search-top input:-ms-input-placeholder{color:#fff}
.search-top input::-ms-input-placeholder{color:#fff}
.search-top input::placeholder{color:#fff}
@media (max-width:767.98px){
.search-top input{width:180px;min-width:180px}
}
.search-top input:active,.search-top input:focus{background:#666;outline:0}
.post-entry-sidebar .post-meta{font-size:14px;color:#b3b3b3}
.post-entry-sidebar ul{padding:0;margin:0}
.post-entry-sidebar ul li{list-style:none;padding:0 0 15px 0;margin:0 0 15px 0}
.post-entry-sidebar ul li a{display:table}
.post-entry-sidebar ul li a img{width:110px}
.post-entry-sidebar ul li a .text,.post-entry-sidebar ul li a img{display:table-cell;vertical-align:top}
.post-entry-sidebar ul li a .text h4{font-size:18px}
.search-form-wrap{margin-bottom:5em;display:block}
.search-form .form-group{position:relative}
.search-form .form-group #s{padding-right:50px;background:#f7f7f7;padding:15px 15px;border:none}
.search-form .icon{position:absolute;top:50%;right:20px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.list-unstyled.check li{position:relative;padding-left:30px;line-height:1.3;margin-bottom:10px}
.list-unstyled.check li:before{color:#17a2b8;left:0;position:absolute}
.overflow{position:relative;overflow-x:hidden}
.site-footer{padding:2em 0 0 0;background:#1e3f50;font-size:16px}
.site-footer .footer-social li a>span{width:30px}
.site-footer a{color:#bac3c7}
.site-footer a:hover{color:#bac3c7;text-decoration:underline}
.site-footer h3{color:#fff;margin-bottom:20px;font-size:14px;text-transform:uppercase;letter-spacing:.2em}
.site-footer p{color:#fff}
.site-footer-copyright{padding:1em 0 1em 0;background:#254a5f;color:#fff;font-size:16px}
.site-footer-copyright a{color:#bac3c7}
.site-footer-copyright a:hover{color:#bac3c7;text-decoration:underline}
.border-t{border-top:1px solid #f8f9fa}
.copyright{font-size:14px}
.maparea{display:block;width:100%;height:300px;background:#58b;overflow:hidden}